<launch>
	<arg name="rviz" default="On"/>
        <node pkg="morai_standard" type="main.py" name="morai_standard" output="screen" />
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find morai_standard)/rviz/morai_standard.rviz" 
                if="$(eval arg('rviz') == 'On')"/>
</launch>
